@media(max-width:1500px)
{
	#icons
	{

		  align-items: center;
	
	}
	.icon
	{
		margin:20px;
          float: left;

	}
    #legend
    {
        clear:both;
            position: initial;
 margin:100px 0 0 0 ;
        
    }
    .project
    {
        margin-bottom:50px;
    }
}








body { 
font-family: 'Ubuntu Mono', monospace;
   background:  url("cheap_diagonal_fabric.png") repeat fixed center; 
    font-size:20px;
    text-align:center;

}
h2
{
    font-family: "Times New Roman", Georgia, Serif; 
    text-align: center;
    color:darkcyan;
    font-size: 58px;
}

#about
{
	     display: flex;
		 justify-content:space-around;
         border-bottom: 3px dotted #999;
}



.icon
{
    width:200px;
    height:200px;
    background:slategray;
    border-radius:50%;
      display: flex;
  align-items: center;
  justify-content: center;
    font-size:100px;

}
#icons, #projects
{
          flex-wrap: wrap;
  height:30%;
    display:flex;
  justify-content: space-around;
}
.icon:hover, .project:hover
{
 transform: scale(1.2);
    box-shadow: 10px 10px 5px #333;
}
.icon:nth-child(1):hover,.icon:nth-child(2):hover,.icon:nth-child(3):hover,.icon:nth-child(4):hover
{
    background:lime;
}
.icon:nth-child(5):hover,.icon:nth-child(6):hover
{
    background:orange;
}
.icon:nth-child(7):hover, .icon:nth-child(8):hover
{
    background:orangered;
}
li:nth-child(1):before
{
  color:lime;  
}
li:nth-child(2):before
{
     color:orange;  
}
li:nth-child(3):before
{
     color:orangered;  
}






nav
{
    display:flex;
 align-items: center;
 margin: 0;
 padding: 0;
 width: 100%;
 height:100px;
    background-color:#03C9A9;
border-bottom:11px solid #01b898;
 z-index: 2;
justify-content:space-around;

}
a
{
	text-decoration:none;
		color:#edf1f1;
    font-weight:700;
    text-shadow: 1px 1px #444;
}

#who,#what
{
	margin:25px;
    width:35%;
}
 #icons
{
		background-color: rgba(171, 183, 183, 0.6);
}


.project
{
        width:250px;
    height:250px;
    background:rgba(238,238,238,0.4);
      display: flex;
  align-items: center;
  justify-content: center;
    font-size:100px;
    border:0.3px dotted slategray;
}
img
{
    height:250px;
    width:250px;
}
#legend
{
    position: relative;
    top:-70px;
    float:right;
 margin-right:200px;
}
#icons
{
    clear:both;
}
ul
{
    text-align:initial;
}

li
{
      list-style-type: none;
}
li:before 
{
    content: '\2022 ';
    padding-right: 0.5em;
    font-size:40px;
}
.element
{
    padding:20px;
}
.element:hover
{
    transform: scale(2); 
}

    
    
    
    
