@media(max-width:1500px)
{
	#icons
	{
	  	align-items: center;
	}
	.icon
	{
		margin:20px;
		float: left;
	}
	.project
	{
		margin-bottom:50px;
	}
}
body 
{ 
  font-family: 'Ubuntu Mono', monospace;
  font-size:22px;
  margin:0;
}
h2
{
  font-family: "Times New Roman", Georgia, Serif; 
  text-align: center;
  color:darkcyan;
  font-size: 58px;
  height:100px;
}
#about
{
  background: rgba(52, 152, 219, 0.8);
  display: flex;
  justify-content:space-around;
  border-bottom: 3px dotted #999;
}
.icon
{
  width:200px;
  height:200px;
  background:rgba(88, 90, 97, 0.6);
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:100px;
}
#icons, #projects
{
  flex-wrap: wrap;
  height:30%;
  display:flex;
  justify-content: space-around;
}
.icon:hover
{
  transform: scale(1.2);
  box-shadow: 10px 10px 5px #333;
}
.project:hover
{
  filter: alpha(opacity=90);
}
.icon:nth-child(1):hover,.icon:nth-child(2):hover,.icon:nth-child(3):hover,.icon:nth-child(4):hover
{
  background:lime;
}
.icon:nth-child(5):hover,.icon:nth-child(6):hover
{
  background:orange;
}
.icon:nth-child(7):hover, .icon:nth-child(8):hover
{
  background:orangered;
}
li:nth-child(1):before
{
  color:lime;  
}
li:nth-child(2):before
{
  color:orange;  
}
li:nth-child(3):before
{
  color:orangered;  
}
nav
{
  display:flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height:100px;
  background-color:#03C9A9;
  border-bottom:11px solid #01b898;
  z-index: 2;
  justify-content:space-around;
}
.element
{
  text-decoration:none;
  cursor:pointer;
  color:#edf1f1;
  font-weight:700;
  text-shadow: 1px 1px #444;
}
#about div
{
  width:38%;
  text-align:center;
}
 #icons
{
  background: rgba(28, 109, 230, 0.07);
}
.project
{
  display: flex;
  align-items: center;
  justify-content: center;
  border:0.3px dotted slategray;
}
label {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
a
{
  text-decoration: none;
}
img
{
zoom: 30%;
}
#legend
{
  position: relative;
  top:-70px;
  float:right;
  margin-right:200px;
  left:100px;
}
#icons
{
  clear:both;
}
ul
{
  text-align:initial;
}
li
{
  list-style-type: none;
}
li:before 
{
  content: '\2022 ';
  padding-right: 0.5em;
  font-size:40px;
}
.element
{
  padding:20px;
}
.element:hover
{
  transform: scale(2); 
}
 span {
  display: none;
  padding: 2px 3px;
  margin-left: 8px;
  width: 130px;
}
.icon:hover span{
  font-size:19px;
  display: block;
  position: fixed;
  margin: 15px;
  background: #dddddd;
  border: 1px solid #000;
  color: #000000;
  opacity:.80;
  filter: alpha(opacity=80);
  text-align: center;
  top:135px;
  left:16px;
  border-radius:0 0 8% 8%;
}
#second
{
  display:flex;
  align-items: center;
  flex-direction: column;
}
#overlay
{
  width:100%;
  height:100%;
  background:#000;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0.97;
  z-index:4;
  display:none;
}
#overlay_div
{
  width:600px;
  height:450px;
  margin: 0 auto;
  position:absolute;
  top:20%;
  bottom:20%;
  right:20%;
  left:20%;
  z-index:6;
  background:antiquewhite;
  box-shadow:0 0 50px #000;
  display:none;
  justify-content: center;
}
#overlay_div div
{
  height:80px;
}
#close_button
{
  cursor:pointer;
  width:50px;
  line-height:50px;
  background: #000;
  color:#fff;
  text-align:center;
  font-size:16px;
  font-weight:bold;
  box-shadow:0 0 20px #777;
  position:absolute;
  top:30px;
  right:30px;
  border:solid 1px #fff;
}
#contact-wrapper
{
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 92%;
  background:rgba(65, 131, 215, 1);
  border-radius:12px;
  flex-direction:column;
  color:darkgray;
  font-size:25px;
  text-shadow: 3px 1px 5px rgba(0, 0, 0, 1);
}
#contact a
{
  color:rgba(255,215,0,0.8);
} 
#contact a:hover
{
  color:rgba(255,215,0,1);
}
